<!-- Footer -->
<footer class="page-footer font-small grey-blue pt-5 pb-5">

  <div class="container-fluid text-center text-md-left txt-white">

    <div class="row">
      <div class="col-md-4 mt-md-0 mt-3">

        <h5 class="text-uppercase">EOR - European Online Racing</h5>

      </div>
      <div class="col-md-2 mb-md-0 mb-3">

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="footer-link">Home</a>
          </li>
          <li>
            <a href="#!" class="footer-link">Liga</a>
          </li>
          <li>
            <a href="#!" class="footer-link">Live</a>
          </li>
          <li>
            <a href="#!" class="footer-link">Forum</a>
          </li>
        </ul>

      </div>
      <div class="col-md-2 mb-md-0 mb-3">

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="footer-link">Spenden</a>
          </li>
          <li>
            <a href="#!" class="footer-link">Über uns</a>
          </li>
          <li>
            <a href="#!" class="footer-link">Kontakt</a>
          </li>
          <li>
            <a href="#!" class="footer-link">AGBs</a>
          </li>
        </ul>

      </div>

      <div class="col-md-2 ml-5 mb-md-0 mb-3">

        <ul class="list-unstyled">
          <li>
            <p>Eigentum EOR
              <br>
              Design & Concept Michel R.
              <br>
              <br>
              <a href="#!" class="footer-link">eor@eor.com</a>
            </p>
          </li>
        </ul>

      </div>

    </div>

  </div>

</footer>
